<md-toolbar class="md-hue-3 white lms_box_shadow_2" style="min-height:80px;">
  <div class="md-toolbar-tools" style="min-height:80px;">
    <md-button class="md-icon-button m-l-20" aria-label="Settings" back-button>
      <md-icon class="blue-grey-text text-lighten-3">arrow_back</md-icon>
    </md-button>
    <span flex></span>
    <div flex="50" layout="row" layout-align="center center">
      <md-tabs flex class="top-nav" md-selected="selectedIndex" >
        <md-tab label md-on-select="changedata(0)" md-on-deselect>
          <md-icon class="m-r-5" hide-gt-sm><i class="lms-school-plan"></i></md-icon>
          <span hide-sm>School Plan</span>
        </md-tab>
        <md-tab label md-on-select="changedata(1)" md-on-deselect>
          <md-icon class="m-r-5" hide-gt-sm><i class="lms-studyplan"></i></md-icon>
          <span hide-sm>Study Plan</span>
        </md-tab>
        <md-tab label md-on-select="changedata(2)" md-on-deselect>
          <md-icon class="m-r-5" hide-gt-sm><i class="lms-social"></i></md-icon>
          <span hide-sm>Social View</span>
        </md-tab>
        <md-tab label md-on-select="changedata(3)" md-on-deselect>
          <md-icon class="m-r-5" hide-gt-sm><i class="lms-reports"></i></md-icon>
          <span hide-sm>Analytics</span>
        </md-tab>
      </md-tabs>
    </div>

    <span flex></span>
    <md-button class="md-icon-button" aria-label="Chapters" ng-click="chapterslist()">
      <md-icon class="blue-grey-text text-lighten-3">format_list_bulleted</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="subjects" ng-click="subjectslist()">
      <md-icon class="blue-grey-text text-lighten-3">apps</md-icon>
    </md-button>

    <md-menu md-position-mode="target-right target">
      <md-button class="md-icon-button m-r-20" aria-label="Settings" ng-click="$mdOpenMenu()">
        <md-icon class="blue-grey-text text-lighten-3">more_vert</md-icon>
      </md-button>
      <md-menu-content width="2">
        <md-menu-item>
          <md-button ng-click="null">
            <md-icon>settings</md-icon>
            Settings
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="null">
            <md-icon>power_settings_new</md-icon>
            Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
