<md-list class="height100">
  <md-list-item class="md-2-line white m-b-10 repeat_animation" ng-repeat="item in studyplanlist">
    <div class="md-list-item-text p-25" layout="row" layout-align="start center">
      <div layout="column" flex>
        <h3>Study Plan Schedule</h3>
        <p>27 May, 2017 - 05 Jun, 2017</p>
      </div>
      <div layout="column" layout-align="start center" flex>
        <span>Completed</span>
        <span class="md-title m-l-10 light-blue-text">80%</span>
      </div>
      <div layout="column" layout-align="start center" flex>
        <span>Audio</span>
        <span class="md-title m-l-10 green-text">80%</span>
      </div>
      <div layout="column" layout-align="start center" flex>
        <span>Assessment</span>
        <span class="md-title m-l-10 light-blue-text">80%</span>
      </div>
      <div layout="column" layout-align="start center" flex>
        <span>Activity</span>
        <span class="md-title m-l-10 green-text">80%</span>
      </div>
      <div layout="column" layout-align="start center" flex>
        <span>Worksheet</span>
        <span class="md-title m-l-10 light-blue-text">80%</span>
      </div>
    </div>
  </md-list-item>
</md-list>
